block content
  h1(style='color:blue;font-family: "Palatino", sans-serif;') #{title}
  -if(ticket)
    table(border='1')
      thead(style='color:blue;font-family: "Palatino", sans-serif')
        tr
          th Fecha
          th Origen
          th Destino
          th Precio
          th Adquiriente
          th &nbsp;
          th &nbsp;
      tbody
        -each item in ticket
          tr
            td #{item.fecha}
            td #{item.origen}
            td #{item.destino}
            td #{item.precio}
            td #{item.adquiriente}
            td #{item.puesto}
            td
              a(href="/edit-ticket/#{item._id}") Editar 
            td
              form(method="post", action="/tickets/#{item._id}")
                input(type="hidden", name="_method", value="DELETE") 
                button(type='submit').
                  Eliminar
    p
      a(href="/nuevo-ticket") Nuevo Ticket
  -else
    p No existen tickets creados
